

/* Botões do menu de navegação */

.btn4::before {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #ce17d1;
  display: block;
  box-shadow: 0 0 0 0 #ce17d1 inset, 0 0 0 1.3px #ce17d1;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.btn4:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)

}
.btn4{
  padding: 15px;
  margin:10px 4px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
}

/* Botão de deletar informações escritas na tela de registro */

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.button-delete {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
}

.button-delete, button span {
  transition: 200ms;
}

.button-delete .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

.button-delete .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-delete svg {
  width: 15px;
  fill: #eee;
}

.button-delete:hover {
  background: #ff3636;
}

.button-delete:hover .text {
  color: transparent;
}

.button-delete:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.button-delete:focus {
  outline: none;
}




/* Botão de Enviar informações escritas na tela de registro */

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.button-submit {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #23DA54;
}

.button-submit, button span {
  transition: 200ms;
}

.button-submit .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

.button-submit .icon {
  border-left: 1px solid #23DA54;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.button-submit svg {
  width: 15px;
  fill: #eee;
}

.button-submit:hover {
  background: #23DA54;
}

.button-submit:hover .text {
  color: transparent;
}

.button-submit:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.button-submit:focus {
  outline: none;
}

