body{
	font-family: 'Roboto', sans-serif;
	margin: 0; 
	background-color: #171B4D;
	color: white;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
}

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-thumb{
	background-color: #01138D;
	border-radius: 10px;
}
/* grid 960px */
.linha{
	width: 960px;
	margin: 0 auto;
	overflow: auto;
	padding: 5px 0;
}
.coluna{
	padding: 0 10px;
	float: right;

}
.col1{
	width: 60px;
}

.col2{
	width: 140px;
}

.col3{
	width: 220px;
}

.col4{
	width: 300px;
}

.col5{
	width: 380px;
}

.col6{
	width: 460px;
}

.col7{
	width: 540px;
}

.col8{
	width: 620px;
}

.col9{
	width: 700px;
}

.col10{
	width: 780px;
}
.col11{
	width: 860px;

}
.col12{
	width: 940px;
	margin: auto;
}

nav{
	text-align: center;
	display: inline;
}
.sem-marcador{
	list-style: none;
	
}
.menu a{
	display: inline;
	text-decoration: none;
	color: white;

}
/**.menu a:hover{
	color: skyblue**;
}
.menu li{
	display: inline-block;
	background-color: #1C294F;
	padding: 15px 15px;
	background-position: center;
}
/**.menu li:hover{
	background-color: #2E7687;
	**/

.registrar a{
	color: red;
	text-decoration: none;
	text-underline-position: right;
}
.registrar a:hover{
	color: white;

}

.footer{
    list-style: none;
    width: 100%;
    color: white;
	background-color: #170940;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding-top: 20px;
    padding-bottom: 20px;
	position: fixed;
    text-align: center;
    transition: transform 0.6s ease-in-out;
}

.footer-font{
    font-size: small;
}


.header{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #170940;
}
.logo{
	color: white;
}
.link {
	text-decoration: none;
	color: #2E7687;
	background-color: #1C294F;
	padding: 2px 10px;
}
.link:hover{
	text-decoration: none;
	color: #1C294F;
	background-color: #2E7687;
}	
/**.noticias a{
	text-decoration: none;
	color: #2E7687;
	background-color: #1C294F;
	padding: 2px 10px;
}
.noticias a:hover{
	text-decoration: none;
	color: #1C294F;
	background-color: #2E7687;**/

.sem-padding{
	padding: none;
}
.button{
	text-decoration: none;
	color: #5653F7;
}
.button:hover{
	text-decoration: none;
	color: #1C294F;
}
.sidebar li{
	color: #d635e3;
}
.sem-padding{
	padding: none;
}
.title{
	color: skyblue;
}
.width-image{
	width: 80%;
}

.fundo{
	background-color: gray;
	color: white;
}
input::placeholder{
	color: white;
	content: "img/bandeirabrasil.jpg";
}
input[type=submit]{
	background-color: black;
}

#firstimg{
	width: 80%;
}
.width-height-video{
	width: 80%;
	height: 80%;
}
.btnBlue {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #010452;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
	align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
	text-transform: uppercase;
    padding: 15px;/**1.2em 2.8em;*
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.button-border {
    border: none;
	/*border-color: #01138D;
    color: #fff;
    box-shadow: 0 0 40px 40px #010452 inset, 0 0 0 0 #010452;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    display: inline-block;*/
}
.button-border:not(hover) {
	display: flex;
	align-items: center;
	align-content: center;
    color: white;
    max-width: 200px;
    height: 50px;
    background-color: #010452;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
	text-align: center;
}

.button-border:hover {
	background-color: #0077ff;
    color: white;
    cursor: pointer;
    transition: 0.5s;
	/*background-color: #2E7687;
	color: black;
	border-color: #2E7687;
    box-shadow: 0 0 10px 0 #2E7687 inset, 0 0 10px 4px #2E7687;*/
}
.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}


a{
	color: white;
	text-decoration: none;
}
.alinhamento{
	display: inline-block;
	text-align: center;
}
.float{
	float: left;
}
.float-right{
	float: right;
}
.content-border {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 5px solid  #A9A9A9;
    border-radius: 0.6em;
    color: #010452;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
	align-self: center;
    margin: 0 auto;
    padding: 25px;/**1.2em 2.8em;**/
    text-decoration: none;
}
.content-background {
	border-color: #303030;
    color: #fff;
	border-radius: 10px;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 4px 4px 20px black;


}
#horizontal{
  margin: 0 auto;
  display: inline-block;
}


.content{
	display: flex;
  width: 500px;
  min-height: 560px;    
  margin: 0px auto;
  position: relative;
  text-align: center;
  padding: 80px;
  left: -25%;
}

input{
	border-radius: 1.6em;
	border: 1px solid  #010101;
}
input[type=text]{
	padding: 10px;
}
label{
	font-size: 25px;
	font-family: 'Beau Rivage', cursive;
}
.input-size{
	width: 325px;
	height: 20px;
}
.text-padding{
	padding: 20px;
}

/*input{
  border:none;
  outline:none;
  display:inline-block;
  height:34px;
  vertical-align:middle;
  position:relative;
  bottom:14px;
  right:9px;
  border-radius:22px;
  width:220px;
  box-sizing:border-box;
  padding:0 18px; 
}*/
.new-account-link{
	text-align: right;	
}
.new-account-link:hover{
	color: #3B3B3B;
}
#float-right{
	float: right;
}
#float-left{
	float: left;
}
#title-color1{
	color: #7d22c5;
}
#title-color2{
	color: #9b13cb;
}
#title-color3{
	color: #2b0d57;
}
.cor-paragrafo p{
	color: #d635e3;
}
#title-agendamento{
	color: blue;
}
#data-input-size{
	font-size: 12px;
	width: 70px;
}
.select-time{
	width: 40px;
	border-radius: 10px;
	background-color: gray;
	color: white;
}
#text-padding-date{
	padding: 10px;
}
.font-size-date{
	font-size: 20px;
}
#flag-size{
	width: 10%;
}
.confirm-button{
	background-color: gray;
	color: black;
	border-radius: 10px;
	border-color: black;
	width: 100px;
	height: 50px;
}
.confirm-button:hover{
	transition-duration: 0.5s;
	color: white;
	background-color: black;
}
#button-padding{
	padding: 20px;
}
.select-equip-size{
	width: 125px;
	height: 40px;
	border-radius: 10px;
	background-color: gray;
	color: white;
}
.radio-button{
	display: inline-block;
	padding: 20px;
}
.btnSelect{
	background-color: black;
	border-color: black;
	color: white;
	box-shadow: 10px, 10px, 15px, 7px, white;
}
.btnSelect:hover{
	background-color: black;
	transition-duration: 0.5s;
	box-shadow: 10px, 10px, 15px, 7px, white;
}
#button-image-size{
	width: 250px;
	height: 250px;
}
.image-control{
	display: flex;
}
.font-color{
	color: #4EAAFF
}

p{
	font-size: 14px;
	text-shadow: 4px 4px 10px black;
}

iframe{
	border-radius: 10px;
	box-shadow: 2px 2px 20px black;
}

h1, h2, h3, h4, h5, h6{
	border-radius: 10px;
	text-shadow: 2px 2px 20px black;
}

img{
	border-radius: 10px;
	text-shadow: 2px 2px 20px black;
	
}

#homeImage{
	width: 80%;
}









